.UnderConstruction-About {
    padding-top: 50px;
    height: 200px;
    width: 200px;
  }
  
  .main-About {
    text-align: center;
  }
  
  .h1-About {
    padding-bottom: 10px;
  }
  
  .p-About {
    display: inline-block;
  }
  